<div class="projects">
  <div class="project-card">
    <h1 class="project-card__title">Library Manager</h1>
    <p>
      A project done for an English School to help them manage the processes of
      their library resulting in less lost books. The app is being used by 14
      teacher to manage more than 1000 books for 500 students.
    </p>
    <button class="project-card__button">More details</button>
  </div>
  <div class="project-card">
    <h1 class="project-card__title">Neva Management</h1>
    <p>
      A project for an university lab. The app helps the researchers to have a
      better stock control and keep track of the plants that are being studied.
    </p>
    <button class="project-card__button">More details</button>
  </div>
  <div class="project-card">
    <h1 class="project-card__title">Exam Grader</h1>
    <p>
      The app helps to calculate the final grade for the Cambridge exams PET,
      FCE, and CAE and keep track of the students grades.
    </p>
    <button class="project-card__button">More details</button>
  </div>
</div>
