.projects {
    height: 100%;
    padding-block: 1rem;
}

.project-card {
    display: grid;
    gap: 0.8rem;
    padding: 1rem;
    margin-bottom: 0.8rem;

    background-color: var(--cl-primary);
    color: var(--tx-primary);
    border-radius: 0.5rem;

    &__title {
        font-size: 1.2rem;
        font-weight: bold;
    }

    &__button {
        padding: 0.4rem;

        border: none;
        border-radius: 0.5rem;
        background-color: var(--tx-primary);
        font-size: 1.2rem;
    }
}